.no-page-header {
  justify-content: center;
  font-size: 35vh;
  line-height: 0.8;

  color: #9a9a9a;
}
.no-page-body {
  text-align: center;
  height: 45vh;
  background-color: #9a9a9a;
}
.btn-c {
  justify-content: center;
  background-color: #212529;
  color: aliceblue;
}
